@keyframes liseretSlideTop {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes liseretSlideLeft {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0);
  }
}

.liseret {
  position: absolute;
  top: 0;
  left: 108px;

  animation: liseretSlideTop 0.6s ease-out;
}

@media (max-width: 1300px) {
  .liseret {
    left: 44px;
  }
}

@media (max-width: 900px) {
  .liseret {
    animation: liseretSlideLeft 0.6s ease-out;

    left: 0;
    top: 110px;
  }
}
