/* Some stuff come from https://github.com/csstools/sanitize.css/blob/master/sanitize.css */
@font-face {
    font-family: futura;
    src: url("../assets/fonts/futura/futuraMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;

    cursor: default;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;

    background-color: white;

    font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
        /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
        /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
        /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif,
        /* macOS emoji */ "Apple Color Emoji",
        /* Windows emoji */ "Segoe UI Emoji",
        /* Windows emoji */ "Segoe UI Symbol",
        /* Linux emoji */ "Noto Color Emoji";
}

body::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f5f5f5; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #51845a; /* color of the scroll thumb */
}

code,
kbd,
pre,
samp {
    overflow-y: hidden;
    overflow-x: auto;
    font-family:
    /* macOS 10.10+ */ Menlo, /* Windows 6+ */ Consolas,
        /* Android 4+ */ Roboto Mono, /* Ubuntu 10.10+ */ Ubuntu Monospace,
        /* KDE Plasma 5+ */ Noto Mono, /* KDE Plasma 4+ */ Oxygen Mono,
        /* Linux/OpenOffice fallback */ Liberation Mono,
        /* fallback */ monospace;
}

b,
strong {
    font-weight: bolder;
}

a {
    color: #51845a;
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #51845a;
    font-weight: bold;
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
