/* Some stuff come from https://github.com/csstools/sanitize.css/blob/master/sanitize.css */
@font-face {
    font-family: futura;
    src: url("../assets/fonts/futura/futuraMedium.ttf")
        format("truetype");
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    
    cursor: default;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    word-break: break-word;

    background-color: white;

    font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
        /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
        /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
        /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif,
        /* macOS emoji */ "Apple Color Emoji",
        /* Windows emoji */ "Segoe UI Emoji",
        /* Windows emoji */ "Segoe UI Symbol",
        /* Linux emoji */ "Noto Color Emoji";
}

code,
kbd,
pre,
samp {
    overflow-y: hidden;
    overflow-x: auto;
    font-family:
    /* macOS 10.10+ */ Menlo, /* Windows 6+ */ Consolas,
        /* Android 4+ */ Roboto Mono, /* Ubuntu 10.10+ */ Ubuntu Monospace,
        /* KDE Plasma 5+ */ Noto Mono, /* KDE Plasma 4+ */ Oxygen Mono,
        /* Linux/OpenOffice fallback */ Liberation Mono,
        /* fallback */ monospace;
}

b,
strong {
    font-weight: bolder;
}

a {
    color: #51845A
}