.layout {
  padding: 0;
  margin: 0 256px;

  height: 100%;
}

@media screen and (max-width: 1300px) {
  .layout {
    margin: 0 128px;
  }
}

@media screen and (max-width: 900px) {
  .layout {
    margin: 0 32px;
  }
}

@media screen and (max-width: 500px) {
  .layout {
    margin: 0 10px;
  }
}
