@import "../../styles/commons/constants.scss";

.index-main {
  min-height: calc(100vh - 200px);

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $medium) {
    min-height: calc(100vh - 250px);
  }
}

.index-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 30px;

  .index-title-name {
    font-size: 80px;
  }

  .index-title-description {
    margin: -24px 0 0px 200px;
    font-size: 60px;
    color: $color_primary;
  }

  @media screen and (max-width: $medium) {
    .index-title-name {
      font-size: 60px;
    }

    .index-title-description {
      font-size: 45px;
      margin: -15px 0 0px 150px;
    }
  }

  @media screen and (max-width: $little) {
    .index-title-name {
      font-size: 40px;
    }

    .index-title-description {
      font-size: 30px;
      margin: -10px 0 0px 100px;
    }
  }
}

.index-citation {
  text-align: center;
  padding: 0 160px;
  opacity: 1;
  position: relative;
  min-height: 243.2px;
  display: flex;
  align-items: center;
  justify-content: center;

  .index-citation-content {
    font-size: 50px;
  }

  @media screen and (max-width: $large) {
    padding: 0 80px;
    span {
      font-size: 45px;
    }
  }

  @media screen and (max-width: $medium) {
    padding: 0 50px;


    span {
      font-size: 30px;
    }
  }

  @media screen and (max-width: $little) {
    padding: 0 20px;
    min-height: 304px;
  }
}

$citation_offset: 200px;
$citation_delay: 1.25s;

.index-citation-transition {
  transition: opacity $citation_delay ease-in, transform $citation_delay ease-in;
}

.index-citation-right {
  transform: translateX($citation_offset);
  opacity: 0;

  @media screen and (max-width: $medium) {
    transform: translateX(0);
  }
} 

.index-citation-left {
  transform: translateX(-$citation_offset);
  opacity: 0;

  @media screen and (max-width: $medium) {
    transform: translateX(0);
  }
}  

