@import "./constants.scss";

@font-face {
  font-family: cormorant;
  src: url("../../assets/fonts/cormorant_garamond/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: $font;
  font-size: 16px;

  color: $color_dark;
  background-color: $color_light;
}

body {
  padding: 0;
  margin: 0 256px;

  height: 100%;

  @media screen and (max-width: $large) {
    margin: 0 128px;
  }

  @media screen and (max-width: $medium) {
    margin: 0 32px;
  }

  @media screen and (max-width: $little) {
    margin: 0 10px;
  }
}

a {
  color: $color_primary;
}

p {
  color: $color_dark;
  font-family: $font;
  font-size: 20px;
  line-height: 1.6em;
}

h1 {
  margin: 0;
  color: $color_primary;
  font-size: 60px;
  font-weight: normal;
}

h2 {
  margin: 0;
  color: $color_primary;
  font-size: 40px;
  font-weight: normal;
}

@keyframes liseretSlideTop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes liseretSlideLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.liseret {
  position: absolute;
  overflow: hidden;

  top: 0;
  left: 108px;

  animation: liseretSlideTop 0.6s ease-out;

  @media screen and (max-width: $large) {
    left: 44px;
  }

  @media screen and (max-width: $medium) {
    animation: liseretSlideLeft 0.6s ease-out;

    left: 0;
    top: 110px;
  }
}

.separation {
  width: 200px;
  border: none;
  height: 1px;
  background-color: $color_dark;
  opacity: 0.33;
}

.link-wrapper {
  text-decoration: none;
  color: none;
}

.transition-fade {
  transition: 0.3s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
