@import "./constants.scss";

.topbar {
  padding: 20px 0;

  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: $medium) {
    padding-bottom: 70px;
    height: 150px;
  }

  @media screen and (max-width: $little) {
    flex-direction: column;
  }
}

.topbar-nav {
  a {
    margin-left: 30px;

    text-decoration: none;
    font-size: 20px;
    color: $color_dark;
  }

  a:hover {
    color: $color_primary;
  }
}

.topbar-logo {
  text-decoration: none;
  font-family: "salute_riches";
  font-size: 20px;
  color: $color_light;

  padding: 2px 5px;
  background-color: $color_dark;

  transition: opacity .3s;
  opacity: 1;

  @media screen and (max-width: $little) {
    margin-bottom: 20px;
  }

  &:hover {
    opacity: 0.8;
  }
}
