.header {
    padding: 20px 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    color: #ececec;
    padding: 2px 5px;
    background-color: #222222;
    transition: opacity 0.3s;
    opacity: 1;
}

.logo:hover {
    opacity: 0.8;
}

.nav_link {
    margin-left: 30px;

    text-decoration: none;
    font-size: 20px;
    color: #222222;
}

.nav_link:hover {
    color: #c6a57a;
}

@media (max-width: 900px) {
    .header {
        padding-bottom: 70px;
        height: 150px;
    }
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 20px;
    }
}
